<html>
    <head>
        <title>User</title>
        <script src="/js/jquery-3.6.1.js"></script>
        <script src="/js/user.js"></script>
        <link rel="stylesheet" href="/css/user.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        {{#if showSubTitle}}
          <h2>{{subTitle}}</h2>
        {{/if}}
        {{!-- <ul>
        {{#each fruitArr}}
        <li>{{this}}</li>
        {{/each}}
        </ul> --}}
        {{!-- <table>
            <thead>
                <tr>
                    <th>FruitName</th>
                </tr>
            </thead>
            <tbody>
                 {{#each fruitArr}}
                   <tr>
                     <td>{{this}}</td>
                   </tr>
                 {{/each}}
            </tbody>
        </table> --}}
        {{!-- <table>
            <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                    </tr>
            </thead>
            <tbody>
                {{#each stdArr}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.age}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table> --}}
        <br>
        <div>
           <a href="/user">Users</a>
           <a href="/tasks">Tasks</a>
        </div>
        <br>
        <br>
        <div id="divBtn">
        <button class="cornerBtn" id="addBtn">Add</button>
        <button class="cornerBtn" id="editBtn">Edit</button>
        <button class="cornerBtn" id="deleteBtn">Delete</button>
        </div>
        <br>
        <table id="user">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {{#each userArr}}
                <tr>
                    <td><input type="checkbox" id="{{this._id}}"></td>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.password}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </body>

</html>